#maze {
	width:  28rem;
	height: 34rem;
	position: relative;
	overflow: hidden;
}
#mazeGrid {
	display: grid;
	grid-template-columns: repeat(28, 1rem);
	grid-template-rows: repeat(36, 1rem);

	&::before,
	&::after {
		content: '';
		background: no-repeat center/cover;
		width:  100%;
		height: 100%;
		position: absolute;
		top:  0;
		left: 0;
	}
	&::before {
		background-image: url('../res/maze.png');
		z-index: -1;
	}
	&::after {
		background-image: url('../res/grid.png');
	}
}
[data-grid=false] #mazeGrid::after {
	visibility: hidden;
}

/*--- Ghost house's door ---*/

#maze::before {
	content: '';
	background: #FFB8DE;
	width:  2rem;
	height: 5px;
	position: absolute;
	z-index: 0;
	transform: translate(13rem,13.6rem);
}
[data-door=open] #maze::before {
	background: 0 0;
}

/*--- Flashing after completing a level ---*/

@keyframes flash {
	 0% {filter: grayscale(100%) brightness(3)}
	50% {filter: unset}
}
#AteAll [data-door=open] {
	#mazeGrid::before,
	h1, #level, .info li[data-enabled=true] {
		animation: flash .5s step-end 4;
	}
}

/*--- Show points after eating fruit or ghost ---*/

div.pts {
	color: #3CF;
	text-shadow: 2px 2px 1px #284B11;
	font: 1.1rem/1 Digit,sans-serif;
	position: absolute;
	top:   0px;
	left: -2px;
	z-index: 1500;
	transform: translate(-1000px,-1000px);
	&::first-letter {font-size: 110%}
}
#maze div {
	&.pts.pts_ghs {
		top:  -12px;
		left: -12px;
	}
	&.pts.pts_fruit {
		color: #FFB8FF;
		text-shadow: 2px 2px 1px #600;
		z-index: 1000;
		top: 18rem;
		left: 50%;
		transform: translateX(calc(-50% - 1px));
	}
}
#LostLife div.pts {
	opacity: 0;
}

/*--- Cookie ---*/

@keyframes pow_blink {
	50% {opacity: 0;}
}
[data-dot] {
	will-change: background-color, opacity, clip-path;
}
[data-dot=normal] {
	background-color: #FFB491;
	clip-path: circle(2.5px at 50% 50%);
}
[data-dot=pow] {
	background-color: #FFB491;
	border-radius: 100%;
	animation: pow_blink .5s step-end infinite;
}
[data-paused=true] [data-dot=pow],
:is(.ready, #LostLife) #maze [data-dot=pow] {
	animation: none;
}
