/*--- Fullscreen overlay  ---*/

#overlay {
	background: rgba(0,0,0,.5);
	position: fixed;
	z-index: 10000;
	top:  0; bottom: 0;
	left: 0; right:  0;
	&.hidden {
		width:  0;
		height: 0;
		z-index: -5;
		opacity: 0;
		visibility: hidden;
	}
}

/*--- Dialog ---*/

dialog {
	color: #FFF;
	background: #000;
	font: 1em sans-serif;
	border: solid 1px #555;
	border-radius: 6px;
	margin: 0;
	padding: .2rem;
	position: fixed;
	z-index: 10000;
	top:  50%;
	left: 50%;
	transform: translate(-50%,-50%);
	will-change: opacity;

	&::backdrop {
		background: rgba(0,0,0,.5);
	}
	.content {
		border-bottom: solid 1px #555;
		padding: .5em 1em 1em;
	}
	.buttons {
		margin-top: .5em;
		padding: .2em .4em .4em .4em;
		float: right;
		button {
			margin:  .3em;
			padding: .4em 1em;
		}
	}
}

/*--- Panel ---*/

.panel {
	white-space: nowrap;
	color: #FFF;
	background: rgba(0,0,38,.9);
	font-size: 80%;
	border: solid 1px #666;
	border-radius: .3rem;
	margin: 0;
	padding: .2rem 0;
	position: absolute;
	z-index: 10001;
}

/*--- Button ---*/

button, .dropdown .current {
	--bc: #222;
	color: #EEE;
	background: var(--bc);
	font-size: 1em;
	font-weight: 400;
	border: solid 1px #666;
	border-radius: .2em;
	outline: 0;;
}
button {
	display: inline-block;
	cursor: pointer;
	&:hover {
		--bc: #003147;
		color: #FFF;
		background-color: var(--bc);
		border-color: #0B93D5;
	}
	&:focus {
		--bc: #0972A5;
		color: #FFF;
		background-color: var(--bc);
		border-color: #0B93D5;
	}
	&:active {
		color: #FFF;
		background-color: #0972A5;
		border: 1px solid #26B3F7;
	}
	&:disabled {
		cursor: default !important;
	}
	&::-moz-focus-inner {
		border:  0;
		padding: 0;
	}
}

/*--- Checkbox ---*/

[type=checkbox]:focus {
	outline: solid 2px #26B3F7;
	outline-offset: -1px;
}

/*--- Input[type=range] ---*/

[type=range] {
	--tn: 5px;
	--tbumb-bg: #FFF;
	--tbumb-border: 1px solid #717171;
	--tbumb-size: 12px;
	background: #0B93D5;
	height: var(--tn);
	vertical-align: middle;
	outline: none;
	appearance: none;
}
label:hover [type=range] {
	background: #0B93D5;
}
::-webkit-slider-thumb {
	background: var(--tbumb-bg);
	border: var(--tbumb-border);
	width:  var(--tbumb-size);
	height: var(--tbumb-size);
	border-radius: 50%;
	position: relative;
	display: block;
	appearance: none;
}
::-moz-range-thumb {
	background: var(--tbumb-bg);
	border: var(--tbumb-border);
	width:  var(--tbumb-size);
	height: var(--tbumb-size);
	border-radius: 50%;
	position:relative;
	display: block;
	appearance: none;
}

/*--- Menu container ---*/

.menu {
	text-align: left;
	white-space: nowrap;
	color: #FFF;
	position: relative;
	display: inline-block;
}

/*--- Dropdown menu ---*/

.dropdown,
.dropdown li,
.dropdown-list {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	cursor: default;
}
.dropdown {
	.current {
		background: rgba(41,41,41,.8);
		margin-top: -.1em;
		padding: .1em .9em .1em .2em;
		box-sizing: border-box;
		&::after {
			content: '';
			background: no-repeat center right/.8em .8em url(../res/caret.svg);
			width:  1em;
			height: 1em;
			position: absolute;
			top: 50%;right: .1em;
			transform: translateY(-50%);
			transform-origin: center;
		}
	}
	menu {
		border: solid 1px #666;
		border-radius: .2em;
		position: absolute;
		z-index: 2000;
		left: 0;
	}
	li {
		background-color: rgba(41,41,41,.8);
		border: 1px solid transparent;
		border-width: 1px 0;
		padding: .1em .9em .1em .2em;
		display: block;
		position: relative;
		&.selected {
			border-color: #0B93D5;
		}
		&.selected, &:hover {
			background: #385872;
		}
		&.selected:hover {
			background:   #3C3971;
			border-color: #6A65B3;
		}
	}
}

/*--- Slide menu ---*/

.slidemenu-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	label {
		line-height: 1;
	}
}
.slidemenu {
	font-size: 80%;
	width: 5em;
	display: inline-block;
	vertical-align: middle;
	clip-path: inset(0);

	menu {
		display: inline-block;
		clip-path: inset(0);
		transition: transform .3s;
		will-change: transform;
	}
	li {
		text-align: center;
		padding: 0;
		display: inline-block;
		clip-path: inset(0);
	}
	button {
		appearance: none;
		text-indent: -3em;
		background: no-repeat center url(../res/caret.svg);
		border: none;
		padding: 0;
		width:  0.7em;
		height: 1.0em;
		position: absolute;
		z-index: 1000;
		top: 50%;
		opacity: 1;
		transform-origin: center;

		&.l {
			left : 0;
			transform: translateY(-50%) rotate(+90deg);
		}
		&.r {
			right: 0;
			transform: translateY(-50%) rotate(-90deg);
		}
		&:disabled {
			opacity: .5;
		}
		&:focus,
		&:hover {
			background-color: transparent;
			border: none;
		}
	}
}

/*--- menu pseudo-classes ---*/

label:hover {
	+ .slidemenu,
	+ .dropdown .current,
	.menu-focusable:hover {
		background:   #1E2944;
		border-color: #0B93D5;
	}
}
.menu-focusable:focus {
	background:   #18445A !important;
	border-color: #0B93D5;
	outline: 0;
}
